/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #585875;
    padding: 20px;
}

/* Estilizando o cabeçalho */
header {
    text-align: center;
    background-color: #33353b;
    color: white;
    padding: 30px 0;
    margin-bottom: 40px;
}

header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}

/* Layout da seção "Sobre mim" */
.sobre-mim {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo para as descrições */
.descricao {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
}

/* Layout da galeria de imagens */
.galeria {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;
}

.imagem {
    flex: 1;
    max-width: 30%;
    text-align: center;
}

.imagem img {
    width: 100%;
    border-radius: 8px;
}

/* Estilizando o rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 40px;
    font-size: 14px;
}
